*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(to right, #ffe000,#799f0c);
    font-family: sans-serif;
}

.container {
    width: 400px;
    margin: 100px auto;
    background: #fff;
    padding: 10px 0;
    border-radius: 6px;

}

form {
    border-bottom: 1px solid #aaa;
    padding: 10px 20px;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
}

form input {
    font-size: 24px;
    width: 100%;
    margin-right: 15px;
    border: none;
    outline: none;
}

form button {
    background: yellowgreen;
    padding: 5px 15px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.todos {
    list-style: none;
}

.todos li {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
    font-size: 22px;
    cursor: pointer;
}

.todos li span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

li.complete {
    color: #aaa;
}

li.complete span {
    text-decoration: line-through;
}
